$app-base: #3b82f6
$dark-base: #09090b
$close-btn-color: #ef4444
$minimize-btn-color: #f59e0b
$maximize-btn-color: #3b82f6
$copyright-color: #71717a
$light-header: #f4f4f5
$dark-header: #09090b
$body-font-color: #a1a1aa

.text-brand
  color: $app-base !important
.bg-brand
  background-color: $app-base !important
